.fui-dialog {
  position: fixed;
  background: #fff;
  width: 10em;
  height: 10em;
  border-radius: 4px;
  top: 50%;
  left: 50%;
}

.fui-dialog-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.fui-dialog {
  position: fixed; background: #fff; min-width: 20em;
  z-index: 2;
  border-radius: 4px; top: 50%; left: 50%; transform: translate(-50%, -50%);
  &-mask { position: fixed; top: 0; left: 0; width: 100%; height: 100%;
    background: fade_out(black, 0.5);
    z-index: 1;
  }
  &-header {
    font-size: 22px;
    padding: 8px 16px;
    border-bottom: 1px solid grey;
  }
  &-main {
    padding: 8px 16px;
    min-height: 6em;
  }
  &-footer {
    padding: 8px 16px;
    background: #fff;
    border-top: 1px solid grey;
    display: flex;
    justify-content: flex-end;
  }
  &-close {
    position: absolute;
    bottom: 100%;
    left: 100%;
    background: #1890ff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
}